.base-table-container {
  color: rgb(70, 70, 70);
  display: flex;
  justify-content: center;
}
.base-table-container table {
  width: 80%;
}

.base-table-container thead {
  height: 5vh;
  background-color: #9eb8d9;
  color: rgb(57, 57, 57);
}

.base-table-container tbody {
  background-color: #eef5ff;
}

.action-button {
  background-color: #9eb8d9;
  border: 1px solid #9eb8d9;
  border-radius: 5px;
  width: 5vw;
  height: 4vh;
  color: rgb(57, 57, 57);
}

.action-buttons {
  display: flex;
  gap: 1vw;
  justify-content: center;
  padding: 0.5vmin;
}
